MVCHandlers/MVCHandlers/Service References/ServiceIttaRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceItta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceItta_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceItta_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceItta_getPartenaire_InputMessage">
    <wsdl:part name="parameters" element="tns:getPartenaire" />
  </wsdl:message>
  <wsdl:message name="IServiceItta_getPartenaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPartenaireResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceItta">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceItta/GetData" message="tns:IServiceItta_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceItta/GetDataResponse" message="tns:IServiceItta_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPartenaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceItta/getPartenaire" message="tns:IServiceItta_getPartenaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceItta/getPartenaireResponse" message="tns:IServiceItta_getPartenaire_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceItta" type="tns:IServiceItta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceItta/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartenaire">
      <soap:operation soapAction="http://tempuri.org/IServiceItta/getPartenaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceItta">
    <wsdl:port name="BasicHttpBinding_IServiceItta" binding="tns:BasicHttpBinding_IServiceItta">
      <soap:address location="http://localhost:8733/MyWcfService/ServiceItta/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>